html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #111111;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.container {
  flex-grow: 1;
  width: 656px;
  margin: 0 auto;
  padding: 0 20px;
}
.header,
.container,
.footer {
  flex-shrink: 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #ceecfc;
  background-color: #ceecfc;
  cursor: default;

  &:hover {
    color: #fff;
    background-color: #ceecfc;
    border: 1px solid #ceecfc;
  }
}
