.header {
  box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
  &__inner {
    display: flex;
    align-items: center;
    max-width: 1182px;
    padding: 0 20px;
    margin: 0 auto;
    height: 76px;
  }
}
.menu {
  margin-left: 30%;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    margin-right: 24px;
    a {
      text-decoration: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(17, 17, 17, 0.48);
    }
  }
}
