.form {
  margin-top: 30px;
  width: 100%;
  &__control {
    margin-top: 10px;
    position: relative;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding-top: 22px;
  }
  &__label {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.48);
    position: absolute;
    left: 16px;
    top: 20px;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  &__input {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    box-sizing: border-box;
    outline: none;
    padding-left: 16px;
    border: none;

    &:focus {
      + {
        .form__label {
          top: 4px;
          font-size: 13px;
        }
      }
    }
    &:not(:placeholder-shown) {
      + {
        .form__label {
          top: 4px;
          font-size: 13px;
        }
      }
    }
  }
  &__btn {
    width: 118px;
    height: 44px;
    background: #01a7fd;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      border: 1px solid #01a7fd;
      background-color: #fff;
      color: #01a7fd;
    }
  }
}

.children {
  margin-bottom: 30px;
  margin-top: 33px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form__control {
    width: 260px;
  }
  &__btn {
    width: 204px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(200, 99%, 50%);
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    border: 2px solid #01a7fd;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;

    svg {
      margin-right: 7px;
      fill: #01a7fd;
    }
  }
  &__delete {
    color: #01a7fd;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
  }
}
