.person {
  margin-top: 30px;
  &__name {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  &__children {
    margin-top: 60px;
    &-list {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-item {
      background: #f1f1f1;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }
}
