<template>
  <form class="form" @submit.prevent="saveData">
    <h2>Персональные данные</h2>
    <div class="form__control">
      <input
        type="text"
        class="form__input"
        v-model="person.name"
        placeholder=" "
      />
      <label class="form__label">Имя</label>
    </div>
    <div class="form__control">
      <input
        type="number"
        class="form__input"
        v-model="person.age"
        placeholder=" "
      />
      <label class="form__label">Возраст</label>
    </div>
    <div class="children">
      <div class="children__header">
        <h2>Дети (макс. 5)</h2>
        <button
          class="children__btn"
          type="submit"
          v-if="person.children.length < 5"
          @click.prevent="addChildren"
        >
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.13332 7.85555C1.50125 7.85555 0.988866 8.36794 0.988867 9C0.988867 9.63206 1.50126 10.1445 2.13332 10.1445L7.85545 10.1445L7.85545 15.8668C7.85545 16.4989 8.36784 17.0113 8.9999 17.0113C9.63196 17.0113 10.1444 16.4989 10.1444 15.8668L10.1443 10.1445L15.8667 10.1445C16.4988 10.1445 17.0112 9.63207 17.0112 9.00001C17.0112 8.36795 16.4988 7.85556 15.8667 7.85556L10.1443 7.85556L10.1443 2.13338C10.1443 1.50132 9.63195 0.988927 8.99989 0.988927C8.36783 0.988927 7.85544 1.50131 7.85544 2.13338L7.85544 7.85555L2.13332 7.85555Z"
            />
          </svg>
          Добавить ребенка
        </button>
      </div>
      <div class="children__list">
        <children-item
          v-for="(children, idx) in person.children"
          :key="idx"
          :name="children.name"
          :age="children.age"
          @update:name="children.name = $event"
          @update:age="children.age = $event"
          @delete="deleteChildrenItem(children.id)"
        />
      </div>
    </div>
    <button class="form__btn" :disabled="isDisabled" type="submit">
      Сохранить
    </button>
  </form>
</template>

<script>
import ChildrenItem from "@/components/ChildrenItem";
import router from "@/router";
export default {
  name: "HomeView",
  components: { ChildrenItem },
  data() {
    return {
      person: {
        name: null,
        age: null,
        children: [],
      },
    };
  },
  computed: {
    isDisabled() {
      if (this.person.name && this.person.age) {
        return false;
      } else {
        return true;
      }
    },
  },
  methods: {
    addChildren() {
      this.person.children.push({
        id: Math.random().toString(16).slice(2),
        name: null,
        age: null,
      });
    },
    deleteChildrenItem(value) {
      this.person.children = this.person.children.filter(
        (item) => item.id !== value
      );
    },
    saveData() {
      if (this.person.name && this.person.age) {
        localStorage.setItem("personData", JSON.stringify(this.person));
        router.push({ path: "preview" });
      }
    },
  },
};
</script>
