<template>
  <div v-if="person" class="person">
    <h2>Персональные данные</h2>
    <p class="person__name">{{ person.name }}, {{ personAge(person.age) }}</p>
    <div class="person__children" v-if="person.children.length">
      <h2>Дети</h2>
      <div class="person__children-list">
        <div
          class="person__children-item"
          v-for="(children, idx) in person.children"
          :key="idx"
        >
          {{ children.name }}, {{ personAge(children.age) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { agetostr } from "@/utils/age";
export default {
  name: "PreviewView",
  data() {
    return {
      person: null,
    };
  },
  computed: {},
  mounted() {
    this.getPersonData();
  },
  methods: {
    personAge(age) {
      return agetostr(age);
    },
    getPersonData() {
      const data = localStorage.getItem("personData");
      if (data) {
        this.person = JSON.parse(data);
      }
    },
  },
};
</script>
