<template>
  <div class="children__item">
    <div class="form__control">
      <input
        type="text"
        class="form__input"
        @input="$emit('update:name', $event.target.value)"
        placeholder=" "
      />
      <label class="form__label">Имя</label>
    </div>
    <div class="form__control">
      <input
        type="number"
        class="form__input"
        @input="$emit('update:age', $event.target.value)"
        placeholder=" "
      />
      <label class="form__label">Возраст</label>
    </div>
    <a class="children__delete" @click.prevent="$emit('delete')" href
      >Удалить</a
    >
  </div>
</template>

<script>
export default {
  name: "ChildrenItem",
  props: {
    name: String,
    age: Number,
  },
};
</script>
