<template>
  <header class="header">
    <div class="header__inner">
      <a class="logo" href="/">
        <img src="../assets/logo.png" alt />
      </a>
      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <router-link :to="{ path: '/' }">Форма</router-link>
          </li>
          <li class="menu__item">
            <router-link :to="{ path: '/preview' }">Превью</router-link>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "TheHeader",
};
</script>
