<template>
  <div id="app">
    <the-header />
    <main class="container">
      <router-view />
    </main>
    <the-footer />
  </div>
</template>

<script>
import TheHeader from "@/components/TheHeader";
import TheFooter from "@/components/TheFooter";

export default {
  components: {
    TheHeader,
    TheFooter,
  },
};
</script>
